<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myGroupEngineerLabel" jhiTranslate="ifixitApp.groupEngineer.home.createOrEditLabel">Create or edit a Group Engineer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!groupEngineer.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="groupEngineer.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ifixitApp.groupEngineer.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="groupEngineer.code" required maxlength="20" />
            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.code?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.code?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ifixitApp.groupEngineer.completeCode" for="field_completeCode">Complete Code</label>
            <input type="text" class="form-control" name="completeCode" id="field_completeCode"
                [(ngModel)]="groupEngineer.completeCode" required maxlength="20" />
            <div [hidden]="!(editForm.controls.completeCode?.dirty && editForm.controls.completeCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.completeCode?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.completeCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 20 }">
                   This field cannot be longer than 20 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ifixitApp.groupEngineer.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="groupEngineer.name" required maxlength="128" />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 128 }">
                   This field cannot be longer than 128 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ifixitApp.groupEngineer.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="groupEngineer.description" maxlength="255" />
            <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.description?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 255 }">
                   This field cannot be longer than 255 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ifixitApp.groupEngineer.cost" for="field_cost">Cost</label>
            <input type="number" class="form-control" name="cost" id="field_cost"
                [(ngModel)]="groupEngineer.cost" required />
            <div [hidden]="!(editForm.controls.cost?.dirty && editForm.controls.cost?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.cost?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.cost?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="ifixitApp.groupEngineer.parent" for="field_parent">Parent</label>
            <select class="form-control" id="field_parent" name="parent" [(ngModel)]="groupEngineer.parentId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="groupEngineerOption.id" *ngFor="let groupEngineerOption of groupengineers; trackBy: trackGroupEngineerById">{{groupEngineerOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
