<div class="row">
    <div class="col-lg-3">
        <h3>treeNode Company</h3>
        <tree-root [nodes]="treeData" [options]="options">
            <ng-template #treeNodeFullTemplate
                let-node
                let-index="index"
                let-templates="templates">
                <div
                    [class]="node.getClass()"
                    [class.tree-node]="true"
                    [class.tree-node-expanded]="node.isExpanded && node.hasChildren"
                    [class.tree-node-collapsed]="node.isCollapsed && node.hasChildren"
                    [class.tree-node-leaf]="node.isLeaf"
                    [class.tree-node-active]="node.isActive"
                    [class.tree-node-focused]="node.isFocused">

                    <tree-node-drop-slot
                        *ngIf="index === 0"
                        [dropIndex]="node.index"
                        [node]="node.parent">
                    </tree-node-drop-slot>

                    <tree-node-wrapper [node]="node" [index]="index" [templates]="templates" (dblclick)="onDblclick(node)">
                    </tree-node-wrapper>

                    <tree-node-children [node]="node" [templates]="templates">
                    </tree-node-children>
                    <tree-node-drop-slot [dropIndex]="node.index + 1" [node]="node.parent">
                    </tree-node-drop-slot>
                </div>
            </ng-template>
        </tree-root>
    </div>
    <div class="col-lg-9">
        <div>
            <h2>
                <span jhiTranslate="ifixitApp.mechanic.home.title">Mechanics</span>
                <button class="btn btn-primary float-right jh-create-entity create-mechanic" [routerLink]="['/', { outlets: { popup: ['mechanic-new'] } }]">
                        <span class="fa fa-plus"></span>
                    <span  jhiTranslate="ifixitApp.mechanic.home.createLabel">
                        Create new Mechanic
                    </span>
                </button>
            </h2>
            <jhi-alert></jhi-alert>
            <div class="row">
            </div>
            <br/>
            <div class="table-responsive" *ngIf="mechanics">
                <table class="table table-striped">
                    <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                            <th jhiSortBy="code"><span jhiTranslate="ifixitApp.mechanic.code">Code</span></th>
                            <th jhiSortBy="completeCode"><span jhiTranslate="ifixitApp.mechanic.completeCode">Complete Code</span> <span class="fa fa-sort"></span></th>
                            <th jhiSortBy="name"><span jhiTranslate="ifixitApp.mechanic.name">Name</span> <span class="fa fa-sort"></span></th>
                            <th jhiSortBy="since"><span jhiTranslate="ifixitApp.mechanic.since">Since</span> <span class="fa fa-sort"></span></th>
                            <th jhiSortBy="location"><span jhiTranslate="ifixitApp.mechanic.location">Location</span></th>
                            <th jhiSortBy="itemTypeId"><span jhiTranslate="ifixitApp.mechanic.itemType">Item Type</span> <span class="fa fa-sort"></span></th>
                            <th jhiSortBy="mechanicTypeId"><span jhiTranslate="ifixitApp.mechanic.mechanicType">Mechanic Type</span> <span class="fa fa-sort"></span></th>
                            <th jhiSortBy="companyId"><span jhiTranslate="ifixitApp.mechanic.company">Company</span> <span class="fa fa-sort"></span></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let mechanic of mechanics ;trackBy: trackId">
                            <td><a [routerLink]="['../mechanic', mechanic.id ]">{{mechanic.id}}</a></td>
                            <td>{{mechanic.code}}</td>
                            <td>{{mechanic.completeCode}}</td>
                            <td>{{mechanic.name}}</td>
                            <td>{{mechanic.since | date:'mediumDate'}}</td>
                            <td>{{mechanic.location}}</td>
                            <td>
                                <div *ngIf="mechanic.itemTypeId">
                                    <a [routerLink]="['../item-type', mechanic.itemTypeId  ]" >{{mechanic.itemTypeName}}</a>
                                </div>
                            </td>
                            <td>
                                <div *ngIf="mechanic.mechanicTypeId">
                                    <a [routerLink]="['../mechanic-type', mechanic.mechanicTypeId  ]" >{{mechanic.mechanicTypeName}}</a>
                                </div>
                            </td>
                            <td>
                                <div *ngIf="mechanic.companyId">
                                    <a [routerLink]="['../company', mechanic.companyId  ]" >{{mechanic.companyName}}</a>
                                </div>
                            </td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            [routerLink]="['../mechanic', mechanic.id ]"
                                            class="btn btn-info btn-sm">
                                            <span class="fa fa-eye"></span>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                    </button>
                                    <button type="submit"
                                            [routerLink]="['/', { outlets: { popup: 'mechanic/'+ mechanic.id + '/edit'} }]"
                                            replaceUrl="true"
                                            class="btn btn-primary btn-sm">
                                            <span class="fa fa-pencil"></span>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                    </button>
                                    <button type="submit"
                                            [routerLink]="['/', { outlets: { popup: 'mechanic/'+ mechanic.id + '/delete'} }]"
                                            replaceUrl="true"
                                            class="btn btn-danger btn-sm">
                                            <span class="fa fa-remove"></span>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="mechanics && mechanics.length">
                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>