<div class="container">

    <div class="navbar navbar-default">
        <div class="navbar-header">
            <a class="navbar-brand" href>Angular2 File Upload</a>
        </div>
    </div>

    <div class="row">

        <div class="col-md-3">
            <h3>Select files</h3>
            Multiple
            <input type="file" ng2FileSelect [uploader]="uploader" multiple  [accept]="allowedMimeType.toString()"/><br/>

            Single
            <input type="file" ng2FileSelect [uploader]="uploader" [accept]="allowedMimeType.toString()" (change)="onFileSelected()"/>
        </div>

        <div class="col-md-9" style="margin-bottom: 40px">

            <h3>Upload queue</h3>
            <p>Queue length: {{ uploader?.queue?.length }}</p>

            <table class="table">
                <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th>Size</th>
                        <th>Progress</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of uploader.queue">
                        <td><strong>{{ item?.file?.name }}</strong></td>
                        <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                        <td *ngIf="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-xs"
                                    (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> Upload
                            </button>
                            <button type="button" class="btn btn-warning btn-xs"
                                    (click)="item.cancel()" [disabled]="!item.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                            </button>
                            <button type="button" class="btn btn-danger btn-xs"
                                    (click)="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div>
                <div>
                    Queue progress:
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-s"
                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-warning btn-s"
                        (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>
                <button type="button" class="btn btn-danger btn-s"
                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
            </div>

        </div>

    </div>

</div>









<div class="row">
    <div class="col-lg-4">
        <leo-item></leo-item>
    </div>

    <div class="col-lg-8">
        <div>
            <h2>
                <span jhiTranslate="ifixitApp.material.home.title">Materials</span>

                <app-parent></app-parent>
                <button class="btn btn-primary float-right jh-create-entity create-material" [routerLink]="['/', { outlets: { popup: ['material-new'] } }]">
                        <span class="fa fa-plus"></span>
                    <span  jhiTranslate="ifixitApp.material.home.createLabel">
                        Create new Material
                    </span>
                </button>
            </h2>
            <jhi-alert></jhi-alert>
            <div class="row">
            </div>
            <br/>
            <div class="table-responsive" *ngIf="materials">
                <table class="table table-striped">
                    <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                            <th jhiSortBy="code"><span jhiTranslate="ifixitApp.material.code">Code</span> <span class="fa fa-sort"></span></th>
                            <th jhiSortBy="completeCode"><span jhiTranslate="ifixitApp.material.completeCode">Complete Code</span> <span class="fa fa-sort"></span></th>
                            <th jhiSortBy="name"><span jhiTranslate="ifixitApp.material.name">Name</span> <span class="fa fa-sort"></span></th>
                            <th jhiSortBy="description"><span jhiTranslate="ifixitApp.material.description">Description</span> <span class="fa fa-sort"></span></th>
                            <th jhiSortBy="cost"><span jhiTranslate="ifixitApp.material.cost">Cost</span> <span class="fa fa-sort"></span></th>
                            <th jhiSortBy="unit"><span jhiTranslate="ifixitApp.material.unit">Unit</span> <span class="fa fa-sort"></span></th>
                            <th jhiSortBy="quantity"><span jhiTranslate="ifixitApp.material.quantity">Quantity</span> <span class="fa fa-sort"></span></th>
                            <th jhiSortBy="location"><span jhiTranslate="ifixitApp.material.location">Location</span> <span class="fa fa-sort"></span></th>
                            <th jhiSortBy="imgUrl"><span jhiTranslate="ifixitApp.material.imgUrl">Img Url</span> <span class="fa fa-sort"></span></th>
                            <th jhiSortBy="imgPath"><span jhiTranslate="ifixitApp.material.imgPath">Img Path</span> <span class="fa fa-sort"></span></th>
                            <th jhiSortBy="itemTypeId"><span jhiTranslate="ifixitApp.material.itemType">Item Type</span> <span class="fa fa-sort"></span></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let material of materials ;trackBy: trackId" (dblclick)="doubleClick($event,material)">
                            <td><a [routerLink]="['../material', material.id ]">{{material.id}}</a></td>
                            <td>{{material.code}}</td>
                            <td>{{material.completeCode}}</td>
                            <td>{{material.name}}</td>
                            <td>{{material.description}}</td>
                            <td>{{material.cost}}</td>
                            <td>{{material.unit}}</td>
                            <td>{{material.quantity}}</td>
                            <td>{{material.location}}</td>
                            <td>{{material.imgUrl}}</td>
                            <td>{{material.imgPath}}</td>
                            <td>
                                <div *ngIf="material.itemTypeId">
                                    <a [routerLink]="['../item-type', material.itemTypeId  ]" >{{material.itemTypeName}}</a>
                                </div>
                            </td>
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            [routerLink]="['../material', material.id ]"
                                            class="btn btn-info btn-sm">
                                            <span class="fa fa-eye"></span>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                    </button>
                                    <button type="submit"
                                            [routerLink]="['/', { outlets: { popup: 'material/'+ material.id + '/edit'} }]"
                                            replaceUrl="true"
                                            class="btn btn-primary btn-sm">
                                            <span class="fa fa-pencil"></span>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                    </button>
                                    <button type="submit"
                                            [routerLink]="['/', { outlets: { popup: 'material/'+ material.id + '/delete'} }]"
                                            replaceUrl="true"
                                            class="btn btn-danger btn-sm">
                                            <span class="fa fa-remove"></span>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="materials && materials.length">
                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div>

