<div class="row">
    <div class="col-lg-4">
        <h3>treeNode Company</h3>
        <tree-root [nodes]="treeData" [options]="options">
            <ng-template #treeNodeFullTemplate
                let-node
                let-index="index"
                let-templates="templates">
                <div
                    [class]="node.getClass()"
                    [class.tree-node]="true"
                    [class.tree-node-expanded]="node.isExpanded && node.hasChildren"
                    [class.tree-node-collapsed]="node.isCollapsed && node.hasChildren"
                    [class.tree-node-leaf]="node.isLeaf"
                    [class.tree-node-active]="node.isActive"
                    [class.tree-node-focused]="node.isFocused" 
                    (dblclick)="onDblclick(node)">

                    <tree-node-drop-slot
                        *ngIf="index === 0"
                        [dropIndex]="node.index"
                        [node]="node.parent">
                    </tree-node-drop-slot>

                    <tree-node-wrapper [node]="node" [index]="index" [templates]="templates">
                    </tree-node-wrapper>

                    <tree-node-children [node]="node" [templates]="templates">
                    </tree-node-children>
                    <tree-node-drop-slot [dropIndex]="node.index + 1" [node]="node.parent">
                    </tree-node-drop-slot>
                </div>
            </ng-template>
        </tree-root>

        <h3>treeNode Basic</h3>
        <tree-root [nodes]="nodes" [options]="options">
            <ng-template #treeNodeFullTemplate
                let-node
                let-index="index"
                let-templates="templates">
                <div
                    [class]="node.getClass()"
                    [class.tree-node]="true"
                    [class.tree-node-expanded]="node.isExpanded && node.hasChildren"
                    [class.tree-node-collapsed]="node.isCollapsed && node.hasChildren"
                    [class.tree-node-leaf]="node.isLeaf"
                    [class.tree-node-active]="node.isActive"
                    [class.tree-node-focused]="node.isFocused">

                    <tree-node-drop-slot
                        *ngIf="index === 0"
                        [dropIndex]="node.index"
                        [node]="node.parent">
                    </tree-node-drop-slot>

                    <tree-node-wrapper [node]="node" [index]="index" [templates]="templates">
                    </tree-node-wrapper>

                    <tree-node-children [node]="node" [templates]="templates">
                    </tree-node-children>
                    <tree-node-drop-slot [dropIndex]="node.index + 1" [node]="node.parent">
                    </tree-node-drop-slot>
                </div>
            </ng-template>
        </tree-root>
        <br/><br/>
        <h3>treeNodeFullTemplate</h3>
        <tree-root id="tree2" [focused]="true" [nodes]="nodes2">
            <ng-template #treeNodeFullTemplate let-node let-index="index" let-templates="templates">
                <div class="tree-node">
                    <input type="checkbox" [checked]="node.isActive" (change)="node.toggleActivated(true)" />
                    <tree-node-expander [node]="node"></tree-node-expander>
                    <div
                        class="node-content-wrapper"
                        [class.node-content-wrapper-active]="node.isActive"
                        [class.node-content-wrapper-focused]="node.isFocused"
                        (click)="node.toggleActivated(true)">
                        <span [class]="node.data.className + 'Index'">{{ index }}</span>
                        <span [class]="node.data.className" [class.title]="true">{{ node.data.title }}</span>
                    </div>
                    <tree-node-children [node]="node" [templates]="templates"></tree-node-children>
                </div>
            </ng-template>
        </tree-root>
        <br/><br/>
    </div>
    <div class="col-lg-8">
        <jhi-mechanic></jhi-mechanic>
    </div>
</div>
<br/><br/><br/><br/>
<div class="clear"></div>
<div class="row">
    <div class="col-lg-12">
        <h2>
            <span jhiTranslate="ifixitApp.company.home.title">Companies</span>
            <button class="btn btn-primary float-right jh-create-entity create-company" [routerLink]="['/', { outlets: { popup: ['company-new'] } }]">
                    <span class="fa fa-plus 2sdfdsf"></span>
                <span  jhiTranslate="ifixitApp.company.home.createLabel">
                    Create new Company
                </span>
            </button>
        </h2>
        <jhi-alert></jhi-alert>
        <div class="row">
        </div>
        <br/>
        <div class="table-responsive" *ngIf="companies">
            <table class="table table-striped">
                <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                        <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="code"><span jhiTranslate="ifixitApp.company.code">Code</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="completeCode"><span jhiTranslate="ifixitApp.company.completeCode">Complete Code</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="name"><span jhiTranslate="ifixitApp.company.name">Name</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="description"><span jhiTranslate="ifixitApp.company.description">Description</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="state"><span jhiTranslate="ifixitApp.company.state">State</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="parentId"><span jhiTranslate="ifixitApp.company.parent">Parent</span> <span class="fa fa-sort"></span></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let company of companies ;trackBy: trackId">
                        <td><a [routerLink]="['../company', company.id ]">{{company.id}}</a></td>
                        <td>{{company.code}}</td>
                        <td>{{company.completeCode}}</td>
                        <td>{{company.name}}</td>
                        <td>{{company.description}}</td>
                        <td>{{company.state}}</td>
                        <td>
                            <div *ngIf="company.parentId">
                                <a [routerLink]="['../company', company.parentId  ]" >{{company.parentId}}</a>
                            </div>
                        </td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        [routerLink]="['../company', company.id ]"
                                        class="btn btn-info btn-sm">
                                        <span class="fa fa-eye"></span>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/', { outlets: { popup: 'company/'+ company.id + '/edit'} }]"
                                        replaceUrl="true"
                                        class="btn btn-primary btn-sm">
                                        <span class="fa fa-pencil"></span>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/', { outlets: { popup: 'company/'+ company.id + '/delete'} }]"
                                        replaceUrl="true"
                                        class="btn btn-danger btn-sm">
                                        <span class="fa fa-remove"></span>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="companies && companies.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
    </div>
</div>
